@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 568px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

.hamburger {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  background: #fff;
  transition: all 0.25s;
  left: 0;
  top: 0;
  transform: rotate(0);
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateX(-6px) translateY(6px);
}
